<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Пароль змінено</title>
  <style>
    @font-face {
      font-family: "e-Ukraine";
      src: url('./fonts/e-Ukraine/e-Ukraine-Regular.otf') format('opentype');
      font-weight: 400;
      font-style: normal;
    }
    body {
      font-family: "e-Ukraine", sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }
    td {
      padding-bottom: 15px;
    }
  </style>
</head>
<body>
  <table role="presentation" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px; margin: 20px auto; background: #fff; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <tr>
    <td style="text-align: left; padding-bottom: 20px;">
      <img 
        src="cid:logo@yourapp" 
        alt="Logo" 
        width="150" 
        style="display: block;" 
      />
    </td>
  </tr>
    <tr>
      <td style="color: #000; text-align: center; font-size: 22px; padding: 10px 0;">
        Пароль успішно змінено
      </td>
    </tr>
    <tr>
      <td style="font-size: 16px; color: #333; line-height: 1.6; padding: 0 10px 20px 10px;">
        Шановний користувач!<br/><br/>
        Ваш пароль до облікового запису <strong>Кабінета Мешканця</strong> успішно змінено.
      </td>
    </tr>
  </table>
</body>
</html>
