<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Скидання пароля</title>
  <style>
    @font-face {
      font-family: "e-Ukraine";
      src: url('./fonts/e-Ukraine/e-Ukraine-Regular.otf') format('opentype');
      font-weight: 400;
      font-style: normal;
    }
    body {
      font-family: "e-Ukraine", sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }
    td {
      padding-bottom: 15px;
    }
    a.reset-link {
      color: rgb(110, 165, 236);
      text-decoration: underline;
      font-weight: normal;
    }
    a.reset-link:hover {
      color: rgb(80, 130, 200);
    }
  </style>
</head>
<body>
  <table role="presentation" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px; margin: 20px auto; background: #fff; padding: 20px; border-radius: 8px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
    <tr>
    <td style="text-align: left; padding-bottom: 20px;">
      <img 
        src="cid:logo@yourapp" 
        alt="Logo" 
        width="150" 
        style="display: block;" 
      />
    </td>
  </tr>
    <tr>
      <td style="color: #000; text-align: center; padding: 10px; font-size: 20px;">
        Відновлення пароля
      </td>
    </tr>
    <tr>
      <td style="padding: 20px; font-size: 16px; color: #333;">
        <p>Шановний користувач!</p>
        <p>Нам надійшов запит на новий пароль для Вашого облікового запису Кабінета Мешканця.</p>
        <p style="margin: 20px 0;">
          <a class="reset-link" href="{{domain}}/auth/new-password?token={{token}}" target="_blank" rel="noopener noreferrer">
            Натисніть тут для зміни пароля
          </a>
        </p> 
        <p>Якщо Ви не надсилали запит на новий пароль, проігноруйте цей електронний лист — Ваш пароль залишиться незмінним.</p>
      </td>
    </tr>
  </table>
</body>
</html>