<html lang='uk'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Технічна підтримка | Цифрове Запоріжжя</title>
  </head>
  <body style='margin: 0; padding: 0; background-color: #f4f4f4;'>
    <table
      role='presentation'
      style='width: 100%; background-color: #f4f4f4; padding: 20px;'
    >
      <tr>
        <td align='center'>
          <table
            role='presentation'
            style='width: 100%; max-width: 600px; background-color: #fff; border-radius: 8px; padding: 20px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);'
          >

            <tr>
              <td
                style='background-color: #e41b85; color: #fff; text-align: center; padding: 10px; font-size: 20px;'
              >
                Технічна підтримка веб порталу "Цифрове Запоріжжя"
              </td>
            </tr>

            <tr>
              <td style='padding: 20px; font-size: 16px; color: #333;'>
                <p><strong>Ім'я:</strong> {{name}}</p>
                <p><strong>Email / Телефон:</strong> {{phoneOrEmail}}</p>
                <p><strong>Повідомлення:</strong></p>
                <p
                  style='background: #f9f9f9; padding: 10px; border-radius: 5px;'
                >{{feedback}}</p>
              </td>
            </tr>

          </table>
        </td>
      </tr>
    </table>
  </body>
</html>